{% extends 'layouts/layouts.html' %}
{% block content %}
    <style type="text/css">
        .category{
            display: flex;
            justify-content: space-between;
            width: 20%;
        }
        .category{
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
        }
        .category > img{
            width: 35px;
        }
    </style>
    <div class="category">
        {% for category in categories %}
            <div class="category">
                <img src="/media/{{ category.image }}" alt="">
                <h3>
                    <a href="/products/?category_id={{ category.id }}">
                        {{ category.name }}
                    </a>
                </h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}